.Drop {
  position: relative;
  width: 100%;
  height: 100%;
}

.Drop * {
  user-select: none;
}

.Drop:global(.DropFlexRow) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Drop:global(.DropFlexColumn) {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/*.Drop:global(.DropAbsolute) {
  position: absolute;
} */
