.DragDropExample {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.DragDropExample p {
  padding: 12px;
  width: 100vw;
  border: 1px solid black;
}

.DropExample {
  width: 60%;

  height: auto;
  border: 1px solid black;
}

.DropExampleInner {
  min-height: 100px;
}

:global([data-drop-element="true"].active) {
  border: 3px solid blue;
}

:global(.DragExample) {
  /* width: max-content; */
  padding: 12px;
  border: 1px solid blue;
  background-color: white;
}
