/* 
##########################
##
VVVVVVVVVVVVVVVVVVVVVVVVV
*/

.transition-ease {
  transition-timing-function: ease !important;
}

.transition-ease-in {
  transition-timing-function: ease-in !important;
}

.transition-ease-out {
  transition-timing-function: ease-out !important;
}

.transition-ease-in-out {
  transition-timing-function: ease-in-out !important;
}

/* 
##########################
## ANIMATIONS
VVVVVVVVVVVVVVVVVVVVVVVVV
*/

.fadeIn {
  animation-name: fadeInAnimation;
}

.fadeOut {
  animation-name: fadeOutAnimation;
}

.bounce {
  animation-name: bounceAnimation;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
    transform: translateY(-24px);
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes bounceAnimation {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-24px);
  }
  55% {
    transform: translateY(0);
  }
  65% {
    transform: translateY(-12px);
  }
  75% {
    transform: translateY(0);
  }
  82% {
    transform: translateY(-6px);
  }
  87% {
    transform: translateY(0);
  }
  93% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}
